body{
    background-color: rgb(165, 211, 231);
    font-family: "Open Sans", "Helvetica Neue", 'Times New Roman', Times, serif, Arial, sans-serif;
    font-size: 20px;
    
}
td{
    vertical-align: text-top;
}
ul{
    list-style-type: none;
    color: rgb(58, 65, 208);
}
div{
    color: #000000;
    height: 100%;
    height: 100%;
    padding: 20px 10px 20px 40px;
    margin: 10px;
    border: 1px solid #000000;
    background-color: #67a0e2;
    border-radius: 15px;
    border: solid 2px #214fcd;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px #283bcc;
}